<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="icon" href="/img/icon"> --}} 
    <link rel="stylesheet" href="/css/style.css">
    <title>Index</title>
</head>
<body>
    {{>header}}

    <form id="weather-form">
        <input type="text" placeholder="location" id="location-input">
        <button type="submit">Search</button>
    </form>
    <p id="request-info"></p>
    <p id="weather-info"></p>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>