<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="icon" href="/img/icon"> --}} 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    {{>header}}
    <div class="container">
        <form id="weather-form">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <input type="text" placeholder="Location" id="location-input" class="form-control">
                </div>
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>          
        </form>
        <div class="container text-center" style="margin-top:50px;">
            <p id="request-info"></p>
            <p id="weather-info"></p>    
        </div>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>